* {
  font-family: monospace;
}
.App {
  text-align: center;
}

.App-header {
  background-color: rgb(38, 38, 58);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 22px;
  color: white;
}

a {
  color: rgb(70, 70, 207);
}

a:hover {
  color: rgb(187, 187, 187);
}
