@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=IBM+Plex+Sans:wght@600&family=Inconsolata&family=Roboto+Mono&family=Source+Code+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap");

* {
  font-family: "Roboto Mono";
}
.app {
  height: 100vh;
  background-color: #1f1e1e;
}

.app-body {
  /* display: flex; */
  background-color: #1f1e1e;
  width: 100%;
}

.app-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
}

.app-windows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: rgb(70, 70, 207);
}

a:hover {
  color: rgb(187, 187, 187);
  transform: translate(0, -0.5rem);
}
