* {
  font-family: "Lucida Console", Monaco, monospace;
}
.app {
  height: 100vh;
  background-color: #363636;
}

.app-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
}

.app-windows {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  color: rgb(70, 70, 207);
}

a:hover {
  color: rgb(187, 187, 187);
  transform: translate(0, -0.5rem);
}

.text-not-red {
  color: white;
}

@media screen and (max-width: 900px) {
  .change-font-size {
    font-size: 1.5vw;
    transition: all 0.1s ease;
  }
}
