.navbar-items {
  height: 70px;
  font-size: 1.1rem;
  text-align: center;
}

.navbar-logo {
  color: white;
  justify-self: start;
  cursor: pointer;
  display: inline-block;
  margin: 0.75rem 0rem;
  font-size: 2rem;
  position: 70%;
  transition: all 0.3s ease;
}

.navbar-logo-software {
  margin: 0rem 0.25rem;
  font-size: 1.1rem;
  color: white;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.navbar-logo-engineer {
  margin: 0rem 0.25rem;
}

.first-name {
  color: #be3409;
  padding: 0rem 0.25rem;
}

.last-name {
  color: rgb(233, 233, 136);
  padding: 0rem 0.25rem;
}

.nav-right-btn {
  text-align: center;
  float: right;
  color: white;
  text-decoration: none;
  padding: 1.5rem 2rem;
  padding-left: 3.5rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.nav-left-btn {
  list-style: none;
  float: left;
  justify-content: end;
  color: white;
  text-decoration: none;
  padding: 1.5rem 2rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.nav-left-btn b {
  display: none;
}

.nav-right-btn b {
  display: none;
}

.nav-left-btn:hover b {
  color: #be3409;
  transition: color 1s;
  display: block;
  padding: 0.1rem 0rem;
}

.nav-right-btn:hover b {
  color: #e9e988;
  transition: color 1s;
  display: block;
  padding: 0.1rem 0rem;
}

@media screen and (max-width: 550px) {
  .navbar-logo {
    padding: 1.2rem 0rem;
    font-size: 1.3rem;
  }
  .navbar-logo-software {
    font-size: 0.8rem;
  }

  .nav-left-btn {
    font-size: 0.8rem;
    padding: 2.5rem 1.3rem;
  }
  .nav-right-btn {
    font-size: 0.8rem;
    padding: 2.5rem 1.3rem;
  }
}

@media screen and (max-width: 350px) {
  .navbar-logo {
    padding: 1.2rem 0rem;
    font-size: 1.1rem;
  }
  .navbar-logo-software {
    font-size: 0.6rem;
  }

  .nav-left-btn {
    font-size: 0.6rem;
    padding: 2.5rem 1rem;
  }
  .nav-right-btn {
    font-size: 0.6rem;
    padding: 2.5rem 1rem;
  }
}
